variables:
  AZP_AGENT_CLEANUP_PSMODULES_IN_POWERSHELL: "true"

trigger:
- main

pool:
  name: 'Default'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'Install dependencies and vsce'

- script: |
    npm run compile
  displayName: 'Compile TypeScript'

- script: |
    npx vsce package
  displayName: 'Package VS Code extension'

- script: |
    npx vsce publish --pat $VSCE_PAT
  displayName: 'Publish to VS Code Marketplace'
  env:
    VSCE_PAT: $(VSCE_PAT)