variables:
  AZP_AGENT_CLEANUP_PSMODULES_IN_POWERSHELL: "true"

trigger:
- main

pool:
  name: 'Default'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: CmdLine@2
  displayName: 'Install dependencies and vsce'
  inputs:
    script: |
      npm install
      npm install --save-dev @vscode/vsce

- task: CmdLine@2
  displayName: 'Package VS Code extension'
  inputs:
    script: |
      npx vsce package

- task: PowerShell@2
  displayName: 'Test token authentication'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Testing token authentication with VS Code Marketplace..."
      Write-Host $env:VSCE_PAT
      
  env:
    VSCE_PAT: $(VSCE_PAT)